<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>memcardinfo</key>
	<array>
		<dict>
			<key>domain</key>
			<string>starbucks</string>
			<key>icon</key>
			<string>starbucks@2x.png</string>
			<key>webURL</key>
			<string>www.starbucks.com/account/signin</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>decathlon</string>
			<key>icon</key>
			<string>decathlon@2x.png</string>
			<key>webURL</key>
			<string>www.decathlon.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>ikea</string>
			<key>icon</key>
			<string>ikea@2x.png</string>
			<key>webURL</key>
			<string>www.ikea.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>esprit</string>
			<key>icon</key>
			<string>esprit@2x.png</string>
			<key>webURL</key>
			<string>www.esprit.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>gap</string>
			<key>icon</key>
			<string>gap@2x.png</string>
			<key>webURL</key>
			<string>www.gap.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>carrefour</string>
			<key>icon</key>
			<string>carrefour@2x.png</string>
			<key>webURL</key>
			<string>www.carrefour.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>walmart</string>
			<key>icon</key>
			<string>walmart@2x.png</string>
			<key>webURL</key>
			<string>www.walmart.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>sheraton</string>
			<key>icon</key>
			<string>sheraton@2x.png</string>
			<key>webURL</key>
			<string>www.starwoodhotels.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>hilton</string>
			<key>icon</key>
			<string>hilton@2x.png</string>
			<key>webURL</key>
			<string>www.hilton.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>gnc</string>
			<key>icon</key>
			<string>gnc@2x.png</string>
			<key>webURL</key>
			<string>www.gnc.com</string>
		</dict>
	</array>
	<key>webinfo</key>
	<array>
		<dict>
			<key>domain</key>
			<string>facebook</string>
			<key>icon</key>
			<string>facebook@2x.png</string>
			<key>webURL</key>
			<string>www.facebook.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>instagram</string>
			<key>icon</key>
			<string>instagram@2x.png</string>
			<key>webURL</key>
			<string>www.instagram.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>webURL</key>
			<string>www.twitter.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>linkedin</string>
			<key>icon</key>
			<string>linkedin@2x.png</string>
			<key>webURL</key>
			<string>www.linkedin.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>tumblr</string>
			<key>icon</key>
			<string>tumblr@2x.png</string>
			<key>webURL</key>
			<string>www.tumblr.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>weibo</string>
			<key>icon</key>
			<string>weibo@2x.png</string>
			<key>webURL</key>
			<string>www.weibo.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>youtube</string>
			<key>icon</key>
			<string>youtube@2x.png</string>
			<key>webURL</key>
			<string>www.youtube.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>vine</string>
			<key>icon</key>
			<string>vine@2x.png</string>
			<key>webURL</key>
			<string>www.vine.co</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>google</string>
			<key>icon</key>
			<string>google@2x.png</string>
			<key>webURL</key>
			<string>accounts.google.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>google</string>
			<key>icon</key>
			<string>google+@2x.png</string>
			<key>webURL</key>
			<string>plus.google.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>dropbox</string>
			<key>icon</key>
			<string>dropbox@2x.png</string>
			<key>webURL</key>
			<string>www.dropbox.com/m/login</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>evernote</string>
			<key>icon</key>
			<string>evernote@2x.png</string>
			<key>webURL</key>
			<string>https://www.evernote.com/Login.action?targetUrl=/Home.action</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>path</string>
			<key>icon</key>
			<string>path@2x.png</string>
			<key>webURL</key>
			<string>www.path.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>yahoo</string>
			<key>icon</key>
			<string>yahoo@2x.png</string>
			<key>webURL</key>
			<string>login.yahoo.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>amazon</string>
			<key>icon</key>
			<string>amazon@2x.png</string>
			<key>webURL</key>
			<string>www.amazon.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>live</string>
			<key>icon</key>
			<string>live@2x.png</string>
			<key>webURL</key>
			<string>login.live.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>baidu</string>
			<key>icon</key>
			<string>baidu@2x.png</string>
			<key>webURL</key>
			<string>passport.baidu.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>taobao</string>
			<key>icon</key>
			<string>taobao@2x.png</string>
			<key>webURL</key>
			<string>login.taobao.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>agoda</string>
			<key>icon</key>
			<string>agoda@2x.png</string>
			<key>webURL</key>
			<string>www.agoda.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>airbnb</string>
			<key>icon</key>
			<string>airbnb@2x.png</string>
			<key>webURL</key>
			<string>www.airbnb.ca</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>ebay</string>
			<key>icon</key>
			<string>ebay@2x.png</string>
			<key>webURL</key>
			<string>signin.ebay.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>webURL</key>
			<string>www.github.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>ikea</string>
			<key>icon</key>
			<string>ikea@2x.png</string>
			<key>webURL</key>
			<string>www.ikea.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>paypal</string>
			<key>icon</key>
			<string>paypal@2x.png</string>
			<key>webURL</key>
			<string>www.paypal.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>pinterest</string>
			<key>icon</key>
			<string>pinterest@2x.png</string>
			<key>webURL</key>
			<string>www.pinterest.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>getpocket</string>
			<key>icon</key>
			<string>pocket@2x.png</string>
			<key>webURL</key>
			<string>www.getpocket.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>starbucks</string>
			<key>icon</key>
			<string>starbucks@2x.png</string>
			<key>webURL</key>
			<string>www.starbucks.com/account/signin</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>google</string>
			<key>icon</key>
			<string>gmail@2x.png</string>
			<key>webURL</key>
			<string>www.gmail.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>yahoo</string>
			<key>icon</key>
			<string>yahoo mail@2x.png</string>
			<key>webURL</key>
			<string>mail.yahoo.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>qq</string>
			<key>icon</key>
			<string>qq mail@2x.png</string>
			<key>webURL</key>
			<string>mail.qq.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>163</string>
			<key>icon</key>
			<string>163@2x.png</string>
			<key>webURL</key>
			<string>mail.163.com</string>
		</dict>
	</array>
	<key>bankinfo</key>
	<array>
		<dict>
			<key>domain</key>
			<string>jpmorganchase</string>
			<key>icon</key>
			<string>jpmorganchase@2x.png</string>
			<key>webURL</key>
			<string>www.jpmorganchase.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>bankofamerica</string>
			<key>icon</key>
			<string>bankofamerica@2x.png</string>
			<key>webURL</key>
			<string>www.bankofamerica.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>citi</string>
			<key>icon</key>
			<string>citi@2x.png</string>
			<key>webURL</key>
			<string>online.citi.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>rbs</string>
			<key>icon</key>
			<string>rbs@2x.png</string>
			<key>webURL</key>
			<string>www.rbs.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>hsbc</string>
			<key>icon</key>
			<string>hsbc@2x.png</string>
			<key>webURL</key>
			<string>www.hsbc.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>wellsfargo</string>
			<key>icon</key>
			<string>wellsfargo@2x.png</string>
			<key>webURL</key>
			<string>www.wellsfargo.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>icbc</string>
			<key>icon</key>
			<string>icbc@2x.png</string>
			<key>webURL</key>
			<string>m.icbc.com.cn</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>credit-agricole</string>
			<key>icon</key>
			<string>credit-agricole@2x.png</string>
			<key>webURL</key>
			<string>www.credit-agricole.fr</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>santander</string>
			<key>icon</key>
			<string>santander@2x.png</string>
			<key>webURL</key>
			<string>www.santander.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>boc</string>
			<key>icon</key>
			<string>boc@2x.png</string>
			<key>webURL</key>
			<string>www.boc.cn</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>ccb</string>
			<key>icon</key>
			<string>ccb@2x.png</string>
			<key>webURL</key>
			<string>m.ccb.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>goldmansachs</string>
			<key>icon</key>
			<string>goldmansachs@2x.png</string>
			<key>webURL</key>
			<string>www.goldmansachs.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>bnpparibas</string>
			<key>icon</key>
			<string>bnpparibas@2x.png</string>
			<key>webURL</key>
			<string>www.bnpparibas.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>barclays</string>
			<key>icon</key>
			<string>barclays@2x.png</string>
			<key>webURL</key>
			<string>www.barclays.co.uk</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>unicreditgroup</string>
			<key>icon</key>
			<string>unicreditgroup@2x.png</string>
			<key>webURL</key>
			<string>www.unicreditgroup.eu</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>db</string>
			<key>icon</key>
			<string>db@2x.png</string>
			<key>webURL</key>
			<string>www.db.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>rabobank</string>
			<key>icon</key>
			<string>rabobank@2x.png</string>
			<key>webURL</key>
			<string>www.rabobank.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>societegenerale</string>
			<key>icon</key>
			<string>societegenerale@2x.png</string>
			<key>webURL</key>
			<string>www.societegenerale.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>abchina</string>
			<key>icon</key>
			<string>abchina@2x.png</string>
			<key>webURL</key>
			<string>m.abchina.com</string>
		</dict>
		<dict>
			<key>domain</key>
			<string>intesasanpaolo</string>
			<key>icon</key>
			<string>intesasanpaolo@2x.png</string>
			<key>webURL</key>
			<string>www.intesasanpaolo.com</string>
		</dict>
	</array>
	<key>categoryInfo</key>
	<dict>
		<key>mcard_entertain</key>
		<dict>
			<key>domain</key>
			<string>mcard_entertain</string>
			<key>icon</key>
			<string>mcard_entertain@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_food</key>
		<dict>
			<key>domain</key>
			<string>mcard_food</string>
			<key>icon</key>
			<string>mcard_food@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_video</key>
		<dict>
			<key>domain</key>
			<string>mcard_video</string>
			<key>icon</key>
			<string>mcard_video@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_sns</key>
		<dict>
			<key>domain</key>
			<string>mcard_sns</string>
			<key>icon</key>
			<string>mcard_sns@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_shop</key>
		<dict>
			<key>domain</key>
			<string>mcard_shop</string>
			<key>icon</key>
			<string>mcard_shop@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_more</key>
		<dict>
			<key>domain</key>
			<string>mcard_more</string>
			<key>icon</key>
			<string>mcard_more@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_mail</key>
		<dict>
			<key>domain</key>
			<string>mcard_mail</string>
			<key>icon</key>
			<string>mcard_mail@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
		<key>mcard_hotel</key>
		<dict>
			<key>domain</key>
			<string>mcard_hotel</string>
			<key>icon</key>
			<string>mcard_hotel@2x.png</string>
			<key>webURL</key>
			<string></string>
		</dict>
	</dict>
	<key>memcardinfo_dic</key>
	<dict>
		<key>gap</key>
		<dict>
			<key>domain</key>
			<string>gap</string>
			<key>icon</key>
			<string>gap@2x.png</string>
			<key>webURL</key>
			<string>www.gap.com</string>
		</dict>
		<key>walmart</key>
		<dict>
			<key>domain</key>
			<string>walmart</string>
			<key>icon</key>
			<string>walmart@2x.png</string>
			<key>webURL</key>
			<string>www.walmart.com</string>
		</dict>
		<key>starbucks</key>
		<dict>
			<key>domain</key>
			<string>starbucks</string>
			<key>icon</key>
			<string>starbucks@2x.png</string>
			<key>webURL</key>
			<string>www.starbucks.com/account/signin</string>
		</dict>
		<key>sheraton</key>
		<dict>
			<key>domain</key>
			<string>sheraton</string>
			<key>icon</key>
			<string>sheraton@2x.png</string>
			<key>webURL</key>
			<string>www.starwoodhotels.com</string>
		</dict>
		<key>ikea</key>
		<dict>
			<key>domain</key>
			<string>ikea</string>
			<key>icon</key>
			<string>ikea@2x.png</string>
			<key>webURL</key>
			<string>www.ikea.com</string>
		</dict>
		<key>hilton</key>
		<dict>
			<key>domain</key>
			<string>hilton</string>
			<key>icon</key>
			<string>hilton@2x.png</string>
			<key>webURL</key>
			<string>www.hilton.com</string>
		</dict>
		<key>gnc</key>
		<dict>
			<key>domain</key>
			<string>gnc</string>
			<key>icon</key>
			<string>gnc@2x.png</string>
			<key>webURL</key>
			<string>www.gnc.com</string>
		</dict>
		<key>esprit</key>
		<dict>
			<key>domain</key>
			<string>esprit</string>
			<key>icon</key>
			<string>esprit@2x.png</string>
			<key>webURL</key>
			<string>www.esprit.com</string>
		</dict>
		<key>carrefour</key>
		<dict>
			<key>domain</key>
			<string>carrefour</string>
			<key>icon</key>
			<string>carrefour@2x.png</string>
			<key>webURL</key>
			<string>www.carrefour.com</string>
		</dict>
		<key>decathlon</key>
		<dict>
			<key>domain</key>
			<string>decathlon</string>
			<key>icon</key>
			<string>decathlon@2x.png</string>
			<key>webURL</key>
			<string>www.decathlon.com</string>
		</dict>
	</dict>
	<key>bankinfo_dic</key>
	<dict>
		<key>abchina</key>
		<dict>
			<key>domain</key>
			<string>abchina</string>
			<key>icon</key>
			<string>abchina@2x.png</string>
			<key>webURL</key>
			<string>m.abchina.com</string>
		</dict>
		<key>bankofamerica</key>
		<dict>
			<key>domain</key>
			<string>bankofamerica</string>
			<key>icon</key>
			<string>bankofamerica@2x.png</string>
			<key>webURL</key>
			<string>www.bankofamerica.com</string>
		</dict>
		<key>barclays</key>
		<dict>
			<key>domain</key>
			<string>barclays</string>
			<key>icon</key>
			<string>barclays@2x.png</string>
			<key>webURL</key>
			<string>www.barclays.co.uk</string>
		</dict>
		<key>bnpparibas</key>
		<dict>
			<key>domain</key>
			<string>bnpparibas</string>
			<key>icon</key>
			<string>bnpparibas@2x.png</string>
			<key>webURL</key>
			<string>www.bnpparibas.com</string>
		</dict>
		<key>boc</key>
		<dict>
			<key>domain</key>
			<string>boc</string>
			<key>icon</key>
			<string>boc@2x.png</string>
			<key>webURL</key>
			<string>www.boc.cn</string>
		</dict>
		<key>ccb</key>
		<dict>
			<key>domain</key>
			<string>ccb</string>
			<key>icon</key>
			<string>ccb@2x.png</string>
			<key>webURL</key>
			<string>m.ccb.com</string>
		</dict>
		<key>citi</key>
		<dict>
			<key>domain</key>
			<string>citi</string>
			<key>icon</key>
			<string>citi@2x.png</string>
			<key>webURL</key>
			<string>online.citi.com</string>
		</dict>
		<key>credit-agricole</key>
		<dict>
			<key>domain</key>
			<string>credit-agricole</string>
			<key>icon</key>
			<string>credit-agricole@2x.png</string>
			<key>webURL</key>
			<string>www.credit-agricole.fr</string>
		</dict>
		<key>db</key>
		<dict>
			<key>domain</key>
			<string>db</string>
			<key>icon</key>
			<string>db@2x.png</string>
			<key>webURL</key>
			<string>www.db.com</string>
		</dict>
		<key>goldmansachs</key>
		<dict>
			<key>domain</key>
			<string>goldmansachs</string>
			<key>icon</key>
			<string>goldmansachs@2x.png</string>
			<key>webURL</key>
			<string>www.goldmansachs.com</string>
		</dict>
		<key>hsbc</key>
		<dict>
			<key>domain</key>
			<string>hsbc</string>
			<key>icon</key>
			<string>hsbc@2x.png</string>
			<key>webURL</key>
			<string>www.hsbc.com</string>
		</dict>
		<key>icbc</key>
		<dict>
			<key>domain</key>
			<string>icbc</string>
			<key>icon</key>
			<string>icbc@2x.png</string>
			<key>webURL</key>
			<string>m.icbc.com.cn</string>
		</dict>
		<key>intesasanpaolo</key>
		<dict>
			<key>domain</key>
			<string>intesasanpaolo</string>
			<key>icon</key>
			<string>intesasanpaolo@2x.png</string>
			<key>webURL</key>
			<string>www.intesasanpaolo.com</string>
		</dict>
		<key>jpmorganchase</key>
		<dict>
			<key>domain</key>
			<string>jpmorganchase</string>
			<key>icon</key>
			<string>jpmorganchase@2x.png</string>
			<key>webURL</key>
			<string>www.jpmorganchase.com</string>
		</dict>
		<key>rabobank</key>
		<dict>
			<key>domain</key>
			<string>rabobank</string>
			<key>icon</key>
			<string>rabobank@2x.png</string>
			<key>webURL</key>
			<string>www.rabobank.com</string>
		</dict>
		<key>rbs</key>
		<dict>
			<key>domain</key>
			<string>rbs</string>
			<key>icon</key>
			<string>rbs@2x.png</string>
			<key>webURL</key>
			<string>www.rbs.com</string>
		</dict>
		<key>santander</key>
		<dict>
			<key>domain</key>
			<string>santander</string>
			<key>icon</key>
			<string>santander@2x.png</string>
			<key>webURL</key>
			<string>www.santander.com</string>
		</dict>
		<key>societegenerale</key>
		<dict>
			<key>domain</key>
			<string>societegenerale</string>
			<key>icon</key>
			<string>societegenerale@2x.png</string>
			<key>webURL</key>
			<string>www.societegenerale.com</string>
		</dict>
		<key>unicreditgroup</key>
		<dict>
			<key>domain</key>
			<string>unicreditgroup</string>
			<key>icon</key>
			<string>unicreditgroup@2x.png</string>
			<key>webURL</key>
			<string>www.unicreditgroup.eu</string>
		</dict>
		<key>wellsfargo</key>
		<dict>
			<key>domain</key>
			<string>wellsfargo</string>
			<key>icon</key>
			<string>wellsfargo@2x.png</string>
			<key>webURL</key>
			<string>www.wellsfargo.com</string>
		</dict>
	</dict>
	<key>webinfo_dic</key>
	<dict>
		<key>126</key>
		<dict>
			<key>domain</key>
			<string>126</string>
			<key>icon</key>
			<string>126@2x.png</string>
			<key>webURL</key>
			<string>mail.126.com</string>
		</dict>
		<key>163</key>
		<dict>
			<key>domain</key>
			<string>163</string>
			<key>icon</key>
			<string>163@2x.png</string>
			<key>webURL</key>
			<string>mail.163.com</string>
		</dict>
		<key>agoda</key>
		<dict>
			<key>domain</key>
			<string>agoda</string>
			<key>icon</key>
			<string>agoda@2x.png</string>
			<key>webURL</key>
			<string>www.agoda.com</string>
		</dict>
		<key>airbnb</key>
		<dict>
			<key>domain</key>
			<string>airbnb</string>
			<key>icon</key>
			<string>airbnb@2x.png</string>
			<key>webURL</key>
			<string>www.airbnb.ca</string>
		</dict>
		<key>amazon</key>
		<dict>
			<key>domain</key>
			<string>amazon</string>
			<key>icon</key>
			<string>amazon@2x.png</string>
			<key>webURL</key>
			<string>www.amazon.com</string>
		</dict>
		<key>apple</key>
		<dict>
			<key>domain</key>
			<string>apple</string>
			<key>icon</key>
			<string>apple@2x.png</string>
			<key>webURL</key>
			<string>appleid.apple.com</string>
		</dict>
		<key>baidu</key>
		<dict>
			<key>domain</key>
			<string>baidu</string>
			<key>icon</key>
			<string>baidu@2x.png</string>
			<key>webURL</key>
			<string>passport.baidu.com</string>
		</dict>
		<key>dropbox</key>
		<dict>
			<key>domain</key>
			<string>dropbox</string>
			<key>icon</key>
			<string>dropbox@2x.png</string>
			<key>webURL</key>
			<string>www.dropbox.com</string>
		</dict>
		<key>ebay</key>
		<dict>
			<key>domain</key>
			<string>ebay</string>
			<key>icon</key>
			<string>ebay@2x.png</string>
			<key>webURL</key>
			<string>signin.ebay.com</string>
		</dict>
		<key>evernote</key>
		<dict>
			<key>domain</key>
			<string>evernote</string>
			<key>icon</key>
			<string>evernote@2x.png</string>
			<key>webURL</key>
			<string>www.evernote.com</string>
		</dict>
		<key>facebook</key>
		<dict>
			<key>domain</key>
			<string>facebook</string>
			<key>icon</key>
			<string>facebook@2x.png</string>
			<key>webURL</key>
			<string>www.facebook.com</string>
		</dict>
		<key>github</key>
		<dict>
			<key>domain</key>
			<string>github</string>
			<key>icon</key>
			<string>github@2x.png</string>
			<key>webURL</key>
			<string>www.github.com</string>
		</dict>
		<key>gmail</key>
		<dict>
			<key>domain</key>
			<string>google</string>
			<key>icon</key>
			<string>gmail@2x.png</string>
			<key>webURL</key>
			<string>www.gmail.com</string>
		</dict>
		<key>google</key>
		<dict>
			<key>domain</key>
			<string>google</string>
			<key>icon</key>
			<string>google@2x.png</string>
			<key>webURL</key>
			<string>accouts.google.com</string>
		</dict>
		<key>google+</key>
		<dict>
			<key>domain</key>
			<string>google+</string>
			<key>icon</key>
			<string>google+@2x.png</string>
			<key>webURL</key>
			<string>plus.google.com</string>
		</dict>
		<key>hotmail</key>
		<dict>
			<key>domain</key>
			<string>live</string>
			<key>icon</key>
			<string>hotmail@2x.png</string>
			<key>webURL</key>
			<string>www.hotmail.com</string>
		</dict>
		<key>ikea</key>
		<dict>
			<key>domain</key>
			<string>ikea</string>
			<key>icon</key>
			<string>ikea@2x.png</string>
			<key>webURL</key>
			<string>www.ikea.com</string>
		</dict>
		<key>instagram</key>
		<dict>
			<key>domain</key>
			<string>instagram</string>
			<key>icon</key>
			<string>instagram@2x.png</string>
			<key>webURL</key>
			<string>www.instagram.com</string>
		</dict>
		<key>linkedin</key>
		<dict>
			<key>domain</key>
			<string>linkedin</string>
			<key>icon</key>
			<string>linkedin@2x.png</string>
			<key>webURL</key>
			<string>www.linkedin.com</string>
		</dict>
		<key>live</key>
		<dict>
			<key>domain</key>
			<string>live</string>
			<key>icon</key>
			<string>live@2x.png</string>
			<key>webURL</key>
			<string>login.live.com</string>
		</dict>
		<key>outlook</key>
		<dict>
			<key>domain</key>
			<string>live</string>
			<key>icon</key>
			<string>outlook@2x.png</string>
			<key>webURL</key>
			<string>www.outlook.com</string>
		</dict>
		<key>path</key>
		<dict>
			<key>domain</key>
			<string>path</string>
			<key>icon</key>
			<string>path@2x.png</string>
			<key>webURL</key>
			<string>www.path.com</string>
		</dict>
		<key>paypal</key>
		<dict>
			<key>domain</key>
			<string>paypal</string>
			<key>icon</key>
			<string>paypal@2x.png</string>
			<key>webURL</key>
			<string>www.paypal.com</string>
		</dict>
		<key>pinterest</key>
		<dict>
			<key>domain</key>
			<string>pinterest</string>
			<key>icon</key>
			<string>pinterest@2x.png</string>
			<key>webURL</key>
			<string>www.pinterest.com</string>
		</dict>
		<key>pocket</key>
		<dict>
			<key>domain</key>
			<string>pocket</string>
			<key>icon</key>
			<string>pocket@2x.png</string>
			<key>webURL</key>
			<string>www.getpocket.com</string>
		</dict>
		<key>qq mail</key>
		<dict>
			<key>domain</key>
			<string>qq mail</string>
			<key>icon</key>
			<string>qq mail@2x.png</string>
			<key>webURL</key>
			<string>mail.qq.com</string>
		</dict>
		<key>starbucks</key>
		<dict>
			<key>domain</key>
			<string>starbucks</string>
			<key>icon</key>
			<string>starbucks@2x.png</string>
			<key>webURL</key>
			<string>www.starbucks.com</string>
		</dict>
		<key>taobao</key>
		<dict>
			<key>domain</key>
			<string>taobao</string>
			<key>icon</key>
			<string>taobao@2x.png</string>
			<key>webURL</key>
			<string>login.taobao.com</string>
		</dict>
		<key>tumblr</key>
		<dict>
			<key>domain</key>
			<string>tumblr</string>
			<key>icon</key>
			<string>tumblr@2x.png</string>
			<key>webURL</key>
			<string>www.tumblr.com</string>
		</dict>
		<key>twitter</key>
		<dict>
			<key>domain</key>
			<string>twitter</string>
			<key>icon</key>
			<string>twitter@2x.png</string>
			<key>webURL</key>
			<string>www.twitter.com</string>
		</dict>
		<key>vine</key>
		<dict>
			<key>domain</key>
			<string>vine</string>
			<key>icon</key>
			<string>vine@2x.png</string>
			<key>webURL</key>
			<string>www.vine.co</string>
		</dict>
		<key>weibo</key>
		<dict>
			<key>domain</key>
			<string>weibo</string>
			<key>icon</key>
			<string>weibo@2x.png</string>
			<key>webURL</key>
			<string>www.weibo.com</string>
		</dict>
		<key>whatsapp</key>
		<dict>
			<key>domain</key>
			<string>whatsapp</string>
			<key>icon</key>
			<string>whatsapp@2x.png</string>
			<key>webURL</key>
			<string>www.whatsapp.com</string>
		</dict>
		<key>yahoo</key>
		<dict>
			<key>domain</key>
			<string>yahoo</string>
			<key>icon</key>
			<string>yahoo@2x.png</string>
			<key>webURL</key>
			<string>login.yahoo.com</string>
		</dict>
		<key>yahoo mail</key>
		<dict>
			<key>domain</key>
			<string>yahoo mail</string>
			<key>icon</key>
			<string>yahoo mail@2x.png</string>
			<key>webURL</key>
			<string>mail.yahoo.com</string>
		</dict>
		<key>youtube</key>
		<dict>
			<key>domain</key>
			<string>youtube</string>
			<key>icon</key>
			<string>youtube@2x.png</string>
			<key>webURL</key>
			<string>www.youtube.com</string>
		</dict>
	</dict>
</dict>
</plist>
